#TopBar a:visited {
	color: white; text-decoration: none;
}
div#TopBar a:link {
	color: white; text-decoration: none;
}
div#TopBar a:hover {
	color: rgb(53, 85, 107); background-color: white;
}
div#TopBar a:active {
	color: rgb(53, 85, 107); background-color: white;
}
div#TopBar a:visited {
	text-decoration: none;
}
#TopBar a:link {
	text-decoration: none;
}
div#TopBar {
	background: url("ramus.png") no-repeat rgb(255, 255, 255); margin: 10px 10px 0px 3px; padding: 0px; width: 100%; height: 65px; color: white; font-family: sans-serif; font-weight: bold;
}
#TopBar_title a {
	margin: 3px; padding: 0px; font-size: 12px;
}
div#TopBar_title {
	text-align: center; font-size: 250%; float: left;
}
div#TopBar_bottom {
	margin: -16px 0em 0px 25px; text-align: left; font-size: 80%; float: none;
}
div.LeftBar {
	font-family: sans-serif; float: left;
}
div.LeftBox {
	border-style: double; margin: 10px 1em 10px 10px; width: 17em;
}
div.Pad {
	padding: 1em; font-size: 80%;
}
div.Pad h3 {
	margin: 0px; text-align: center;
}
a {
	color: rgb(0, 0, 238); text-decoration: none;
}
a:link {
	color: rgb(0, 0, 204);
}
.w {
	color: rgb(0, 0, 204);
}
.w a:link {
	color: rgb(0, 0, 204);
}
a:visited {
	color: rgb(85, 26, 139);
}
a:active {
	color: rgb(255, 0, 0);
}
td#Kode a {
	font-family: tymes-new-roman; font-size: 80%;
}
h3.Ramus {
	color: rgb(254, 111, 0); font-family: sans-serif; margin-bottom: 3px;
}
h2.Ramus {
	color: rgb(254, 111, 0); font-family: sans-serif; margin-bottom: 3px;
}
div.Text {
	margin: 10px 0px; text-align: justify;
}
div.Diagram {
	margin: 10px 0em 0px 0px; text-align: justify;
}
table.RowsTable {
	border: currentColor;
}
td.RowCell {
	padding: 0cm 5.4pt; border: 1pt solid black; border-image: none;
}
td.RowTitleCell {
	padding: 0cm 5.4pt; border: 1pt solid black; border-image: none; text-align: center; font-size: 80%; font-weight: bold;
}
td.Body {
	
}
td.CellNormal {
	margin: 0cm 0cm 10pt;
}
td.Title {
	font-size: 90%; font-weight: bold;
}
select.Text {
	width: 600px;
}
input.Text {
	width: 600px;
}
body {
	font-family: arial, sans-serif;
}
td {
	font-family: arial, sans-serif;
}
a {
	font-family: arial, sans-serif;
}
div {
	font-family: arial, sans-serif;
}
.p {
	font-family: arial, sans-serif;
}
.faimage {
	max-width: 700px;
}
